.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9efef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }